/* Added Glegoo google font */
@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');

/* added color palette reference from Coolors website
CSS HEX
--cadmium-red: #e30022ff;
--cadmium-yellow: #fff600ff;
--kelly-green: #4cbb17ff;
--flickr-blue: #0063dcff;
--orange-red: #ff681fff; */

body {
  font-family: 'Glegoo', serif;
}

/* add styling to main site title header and nav */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 2vw;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fff600ff;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #e30022ff;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* hero outer, image and site title styling*/

#hero-outer {
  height: 10rem;
  width: 100%;
  padding-top: 0.5%;
  position: relative;
}

#hero-image {
  height: 10rem;
  width: 100%;
  background: url('../images/mixedlego.jpg') no-repeat center center;
  opacity: 0.4;
}

#site-title {
  color: #0063dcff;
  font-size: 3vw;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  bottom: 5%;
  left: 25%;
  right: 25%;

  position: absolute;
}

#site-title a:link {
  text-decoration: none;
}

/* Grid */

.set-content {
  grid-area: set-content;
  border: 3px solid rgba(255, 246, 0, 1);
  text-align: justify;
  background-color: rgba(255, 246, 0, 0.2);
}

.set-title {
  grid-area: set-title;
  text-align: center;
  border: 3px solid rgba(0, 99, 220, 1);
  background-color: rgba(0, 99, 220, 0.2);
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  row-gap: 5px;
  grid-template-areas:
    "set-title"
    "set-content";
}

/* image styling */
img {
  border: 2px solid #ddd;
  border-radius: 1px;
  padding: 5px;
  width: 250px;
}

img:hover {
  box-shadow: 0 0 2px 1px #4cbb17ff;
}

.box {
  border-radius: 5px;
  padding: 10px;
}

/* Form */

.form_section {
  clear: left;
  background: url("/assets/images/greenlego.jpg");
  background-size: cover;
  background-position: center;
  height: 60rem;
}

.signup_form {
  margin: 150px 10% 0 0;
  color: #fff;
  background-color: rgba(76, 187, 23, 0.7);
  max-width: 400px;
  position: absolute;
  left: 20%;
  padding: 30px;
  font-weight: bolder;
}

.signup_form > h2 {
  color: #fafafa;
  margin-bottom: 20px;
}

.user_input, .query_entry {
  width: 100%;
  margin: 5px 0 5px 0;
  border: 1px solid #fff600ff;
  border-radius: 1px;
}

.user_input {
  height: 25px;
}

.user_input:hover, .query_entry:hover {
  border-color: #e30022ff;
}

.send_button {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.3em;
  background-color: #0063dcff;
  color: #fafafa;
  display: block;
}

.send_button:hover {
  background-color: #fafafa;
  color: #ff681fff;
}

/* footer */

footer {
  height: 150px;
}

/* social media links */
.social-links {
  text-align: center;
}

.social-links>li {
  display: inline;
}

i {
  font-size: 150%;
  margin: 2%;
  padding: 2%;
}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. Rather than having very squashed nav, it apepars vertically on a drop-down */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}