/* Added Glegoo google font */
@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');

/* added color palette reference from Coolors website
CSS HEX
--cadmium-red: #e30022ff;
--cadmium-yellow: #fff600ff;
--kelly-green: #4cbb17ff;
--flickr-blue: #0063dcff;
--orange-red: #ff681fff; */

body {
    font-family: 'Glegoo', serif;
}
/* add styling to main site title header */
#site-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #e30022ff;
    float: left;
    font-size: 270%;
    height: 100px;
    border: 1px solid black;
    overflow: hidden;
}

#menu ul {
    float:right;
    font-size: 120%;
    letter-spacing: 5px;

}

#menu li {
    float:left;
    margin-right: 20px;
    list-style-type: none;
    border: 1px solid pink;
}

.set-picture {
    grid-area: set-picture;
    border: 1px solid red;
  }

  .set-content {
    grid-area: set-content;
    color: #fff600ff;
    border: 1px solid blueviolet;
  }

  .set-title {
    grid-area: set-title;
    text-align: center;
    border: 1px solid green;
  }

  .wrapper {
    background-color: #fff;
    color: #444;
  }

  .wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
     "set-title set-title"
     "set-picture set-content"
  }

  .box {
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%; 
  }
